button {
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: #6a1e1e;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
}

body {
    background-color: rgb(21, 20, 20);
}


#movie-text{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}


.movie {
    display: flex;
    flex-direction: column;
}

#title {
    color: white;

}

#release-date{
    color: white;

}