button {
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: #6a1e1e;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
}

body {
    background-color: rgb(21, 20, 20);
}


#movie-text{
    
}


#title {
    font-size: 15px;
}

#release-date {
    font-size: 10px;
}

#title, #release-date, #description {
    color: antiquewhite;
    display: grid;
    grid-template-columns: 0.1fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#movie-header {
   
}

#movie-header img {
    width: 80px;
    height: 80px;
}

#description {
    font-size: 10px;
}


#circle {
    width:400px;
    height: 400px;
    border-radius: 50%;
    background-color: white;
}