button {
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: #6a1e1e;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
}

body {
    background-color: rgb(21, 20, 20);
}


#movie-text{
    
}


#title {
    font-size: 15px;
}

#release-date {
    font-size: 10px;
}

#title, #release-date, #description {
    color: antiquewhite;
    display: grid;
    grid-template-columns: 0.1fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#movie-header {
   
}

#movie-header img {
    width: 80px;
    height: 80px;
}

#description {
    font-size: 10px;
}



nav {

    display: flex;
    justify-content: space-between;
    align-items: right;
    background-color: rgb(21, 20, 20);
    padding: 10px;
}

nav ul {
    font-size: 20px;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

nav ul li a{
    color: antiquewhite;
}

nav ul li a:hover{
    color:#6a1e1e;
}


#container {
    display: flex;
    justify-content: space-between;
    min-height: 550px;
}

#left {
    width:45%;
    height: 100px;
}


#circle {
    width:500px;
    height: 500px;
    border-radius: 50%;
    background-color: white;
    margin-left: 50px;
}


#right {
    width: 45%;
    height: 100px;
}

#cover-title{
    font-family: 'Bangers', cursive;
    color: antiquewhite;
    font-size: 50px;
}
#cover-text{
    color: antiquewhite;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}
#homepage-cover{
    gap: 300px;
}

#popular-category{
    height: 100px;
    width: 100px;
}

#coverpage-images{
    height: 280px;
    width: 100px;
    display:flex;
    justify-content: space-between;
    gap: 100px;
    margin-left: 30px;
    padding-top: 50px;
}

#popular-banner{
    width: 100vw;
    background-color: #6a1e1e;
    height: 60px;
}
#popular-banner h2 {
    font-family: 'Bangers', cursive;
    color: antiquewhite;
    font-size: 50px;
    padding-left: 20px;
}




